h1 {text-align: center;}
#Setup {height: 100; width: 100%auto;}
.ma { border-style: dashed; background-image: linear-gradient(to right, aqua, red ); height: 100px; width: 100%auto ;}
#style {text-align: center; position: relative; top: -15px; }
p {text-align: center;  position: relative; top: -15px; font-size: small;}
#right {position: absolute; height: 50px;  top: 70px; right: 10px;}
.cycle { border-style: dotted; background-image: linear-gradient(to right, red , greenyellow); height: 100px; width: 100%auto;}
#left {position: absolute; height: 45px;  top: 170px; left: 10px;}
#left2 {position: absolute; height: 45px;  top: 275px; left: 10px;}
.android {border-style: groove; background-image: linear-gradient(to right, greenyellow , wheat); height: 100px; width: 100%auto;}
#right2 {position: absolute; height: 50px;  top:  275px; right: 10px;}
#p2 {text-align: justify;}

.Open-Source {border-style: solid; background-image: linear-gradient(to right, wheat, #1793d1); height: 100px; width: 100%auto;}
#left3 {position: absolute; height: 45px;  top: 375px; left: 10px;}
.Arch {border-style: solid; background-image: linear-gradient(to right, white, wheat); height: 100px; width: 100%auto;}
#left4 {position: absolute; height: 45px;  top: 480px; left: 10px; width: 45px;}
#right4 {position: absolute; height: 45px;  top: 480px; right: 10px;}
#right3 {position: absolute; height: 45px;  top: 375px; right: 10px;}
.Ricers {border-style: solid; background-image: linear-gradient(to right, wheat, yellow); height: 100px; width: 100%auto;}
#psmall {font-size: x-small;}
.WM {border-style: inset; background-image: linear-gradient(to right, yellow, grey); height: 100px; width: 100%auto;}
#left5 {position: absolute; height: 45px;  top: 580px; left: 10px; width: 45px;}
#right5 {position: absolute; height: 45px;  top: 580px; right: 10px; width: 45px;}
.Tech {border-style: dashed; background-image: linear-gradient(to right, grey, green); height: 100px; width: 100%auto;}
.code {border-style: groove; background-image: linear-gradient(to right, green, #00ff00); height: 100px; width: 100%auto;}
#right6 {position: absolute; height: 45px;  top: 780px; right: 10px; width: 45px;}
#left6 {position: absolute; height: 45px;  top: 780px; left: 10px; width: 45px;}
.group {border-style: solid; background-image: linear-gradient(to right, #00ff00,wheat ); height: 100px; width: 100%auto;}
#left7 {position: absolute; height: 45px;  top: 980px; left: 10px; width: 45px;}
#right7 {position: absolute; height: 45px;  top: 980px; right: 10px; width: 45px;}
#left8 {position: absolute; height: 45px;  top: 880px; left: 10px; width: 45px;}
